<!DOCTYPE html>
<html lang="en" class="first">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="content" >
        <div class="shrift">
            <p id="p">WHERE WORDS  FAIL</p> 
            <p id="pe">MUSIC SPEAKS</p>
        </div>
        <div class="href">
            <a href="#" class="on">HOME  </a>
            <a href="#">COMPANY   </a>
            <a href="#">SHOP   </a>
            <a href="#">T&C   </a>
            <a href="#">CONTACT   </a>
            <img src="../static/images/basket.png" width="20px" alt="">
            <i class="fa fa-search"></i>
        </div>
        <div class="logo">
            <img src="../static/images/music.png" width="100px" alt="">
        </div>
    </div>
    <div class="three">
        <div class="four">
            <p>FEATURES</p>
        </div>
        <div class="five">
            <img src="../static/images/fs.png" width="50px" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tenetur fuga excepturi adipisci reiciendis non, laboriosam, repellat molestias sequi libero recusandae maxime. Adipisci repudiandae quae fuga, harum hic aut quia.</p>
        </div>
        <div class="six">
            <img src="../static/images/mbg.png" width="50px" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur vitae sapiente voluptates illum! Quaerat minima soluta, omnis quas recusandae sint, veritatis ullam dicta corporis qui quo, nihil alias temporibus accusamus.</p>
        </div>
        <div class="seven">
            <img src="../static/images/cs.png" width="50px" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt impedit officiis architecto illo earum quos. Ducimus quidem dolorum harum nisi suscipit amet, cumque officia ad magnam earum! Accusantium, quas placeat.</p>
        </div>
    </div>
</body>
